@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&display=swap");

:root {
    --main-color: #272b30;
    --second-color: #32383e;
    --color-text: #fff;
    --btn-main-color: #272729;
}


body {
    font-family: "Comfortaa", cursive;
    min-height: 100%;
    min-width: 100%;
    background-color: var(--main-color);
    color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nerko One", cursive;
    color: var(--color-text) !important;
}

header img {
    max-height: 30dvh;
    object-fit: cover;
}


nav {
    background-color: rgb(58, 73, 123) !important;
    margin: auto;
    margin-top: -30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(0 0 0 / 0.7);
}

nav .nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #09c !important;
    transition: 400ms;
}

.active {
    color: #09c !important
}

.card {
    filter: grayscale(0.7);
    cursor: pointer;
    transition: scale 0.5s, filter 0.5s 0.1s;
}

.card:hover {
    filter: grayscale(0);
    scale: 1.1;
}


/* From Uiverse.io by AbanoubMagdy1 */
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}


.loader {
    --dim: 3rem;
    width: var(--dim);
    height: var(--dim);
    position: relative;
    animation: spin988 2s linear infinite;

}

.loader .circle {
    --color: #ffffff;
    --dim: 1.2rem;
    width: var(--dim);
    height: var(--dim);
    background-color: var(--color);
    border-radius: 50%;
    position: absolute;
}

.loader .circle:nth-child(1) {
    top: 0;
    left: 0;
}

.loader .circle:nth-child(2) {
    top: 0;
    right: 0;
}

.loader .circle:nth-child(3) {
    bottom: 0;
    left: 0;
}

.loader .circle:nth-child(4) {
    bottom: 0;
    right: 0;
}

@keyframes spin988 {
    0% {
        transform: scale(1) rotate(0);
    }

    20%,
    25% {
        transform: scale(1.3) rotate(90deg);
    }

    45%,
    50% {
        transform: scale(1) rotate(180deg);
    }

    70%,
    75% {
        transform: scale(1.3) rotate(270deg);
    }

    95%,
    100% {
        transform: scale(1) rotate(360deg);
    }
}